.play-button {
    width: 4rem;
    height: 4rem;
    border: none;
    outline: none;
    background-image: url(../../assets/play-icon.svg);
    background-color: #A91B0D;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  
  .play-button:hover {
    background-color: #9c170b;
  }
  .play {
    background-image: url(../../assets/play-icon.svg);
  }
  
  .pause {
    background-image: url(../../assets/pause-icon.svg);
  }